body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-quicksand: Quicksand;

  /* font sizes */
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-11xl: 30px;

  /* Colors */
  --color-white: #fff;
  --color-darkslategray: #404040;
  --color-lemonchiffon: #fffec4;

  /* border radiuses */
  --br-mini: 15px;
  --br-11xl: 30px;
}
