body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-quicksand: Quicksand;

  /* font sizes */
  --font-size-lg: 18px;

  /* Colors */
  --color-white: #fff;
  --color-darkorange-100: #ff8832;
  --color-black: #000;
  --color-lemonchiffon: #fffec4;

  /* border radiuses */
  --br-mini: 15px;
}
