body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-quicksand: Quicksand;

  /* font sizes */
  --font-size-6xl: 25px;
  --font-size-sm: 14px;
  --font-size-base: 16px;

  /* Colors */
  --color-white: #fff;
  --color-dimgray: #6a6a6a;
  --color-darkslategray: #404040;

  /* border radiuses */
  --br-xl: 20px;
  --br-16xl: 35px;
}
